{% extends 'users/base.html' %}
{% load bootstrap %}
{% block content %}
<div class="container">
        <div class="row justify-content-center">
            <div class="col-8">

    <div class="row justify-content-left">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="card bg-light mb-3" style="position: relative; top: 30px;">
        <div class="card-body">
          <h3 class="card-title"><b>Create New Slot</b></h3>
	
	<p><b>You are creating a slot for {{ program.prog_name }} </b><p>
    <form action="" method="post" class="uniForm">{% csrf_token %}
    {{ form|bootstrap }}
    <button type="submit" class="btn btn-success">Create</button>
    <p><b>*The Duration entered are in seconds</b><p>
    </form>
{% endblock %}