{% extends 'users/base.html' %}
{% block content %}
    
    <br>
    {% if object_list %}
        {% for program in object_list %}
            <span><b><p>Program: </p></b>{{ program.prog_name }}</span>
            <p><b><p>Start Time: </p></b>{{ program.start_time }}</p>
            <p><b><p>End Time: </p></b>{{ program.end_time }}</p>

            <a href="{% url 'createslot' program.id %}" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Create Slot</a>
            
            <a href="{% url 'viewslot' program.id %}" class="btn btn-info btn-sm">
                <i class="fa fa-pencil" aria-hidden="true" style="color: black"></i>
                View Slots</a>

            <a class="btn btn-warning btn-sm">
                <i class="fa fa-trash" aria-hidden="true" style="color: black"></i>
                Edit Program
            </a>

                <hr>
        {% endfor %}
    {% else %}
        <h2>No Programs in this channel!</h2>
    {% endif %}
{% endblock %}