{% extends 'users/base.html' %}
{% block content %}
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">



    <br>
    {% if object_list %}
    <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="card bg-light mb-3" style="position: relative; top: 30px;">
        <div class="card-body">
    
        {% for program in object_list %}
            <span><b><p>Program: {{ program.prog_name }}</p></b></span>
            <span><b><p>Start Time: {{ program.start_time }}</p></b></span>
            <span><b><p>End Time: {{ program.end_time }}</p></b></span>
            <span><b><p>Slot Details: </p></b></span>
        </div>
    </div>
</div>
</div>

    <div class="row justify-content-center">
    <div class="col-lg-8 col-md-8 col-sm-8">
      <div class="card bg-light mb-3" style="position: relative; top: 30px;">
        <div class="card-body">
    
            {% for slot in program.slot_set.all %}
                 
                <p><b>Duration: </b>{{ slot.duration }} seconds </p>
                <p><b>Price: </b>Rs.{{ slot.price }}</p>
                <p><b>Status: </b>{{ slot.status }}</p>

                {% if user.user_role == 'superuser' or user.user_role == 'channel_admin' %}

                <a href="{% url 'editslot' slot.id %}" class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Edit Slot</a>

                {% else %}

                <a class="btn btn-success btn-sm">
                <span class="glyphicon glyphicon-edit"></span>
                Buy Slot</a>

                {% endif %}
            {% endfor %}
        {% endfor %}
    {% else %}
        <h2>No Slots in this program!</h2>
    {% endif %}
{% endblock %}